/* Order.css */

.order_grid {
  padding-right: 1rem !important;
}

.order_row1 {
  margin: 1rem !important;
  display: flex !important;
  flex-direction: column !important;
  gap: 0.5rem !important;
  padding: 0.5rem !important;
  padding-top: 2.6rem !important;
  overflow-x: auto !important;
}

.table {
  width: 100% !important;
  table-layout: fixed !important;
  min-width: 100% !important;
  overflow-x: auto !important;
  border-collapse: collapse !important;
}

.tdody_a {
  max-height: 72.5vh !important;
  overflow-y: auto !important;
  display: block !important;
}

::-webkit-scrollbar {
  width: 0 !important;
}

.table > thead,
tbody tr {
  display: table !important;
  width: 100% !important;
  table-layout: fixed !important;
}

.table th,
.table td {
  padding: 12px !important;
  text-align: center !important;
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
}

.table > .tbody_a tr:nth-child(even) {
  background-color: #f2f2f2 !important; /* Background color for even rows */
}

.table > .tbody_a tr:nth-child(odd) {
  background-color: #ffffff !important; /* Background color for odd rows */
}

.table th {
  background-color: #f8f9fa !important;
  color: #212529 !important;
  font-weight: bold !important;
}

.table tbody tr:hover {
  background-color: #faf5f5 !important;
  cursor: pointer !important;
}

/* Responsive styles */

@media screen and (max-width: 768px) {
  .table {
    width: 100% !important;
    overflow-x: auto !important;
  }
}

@media screen and (max-width: 600px) {
  th:nth-child(2),
  td:nth-child(2),

  th:nth-child(5),
  td:nth-child(5) {
    display: none;
  }
}

