



.order_row1 {
  margin: 1rem ;
  display: flex !important;
  flex-direction: column !important;
  gap: 0.5rem !important;
  padding: 0.5rem !important;
  padding-top: 1rem !important;
}

/* .table {
  width: 100% !important;
  table-layout: fixed !important;
  min-width: 100% !important;
  overflow-x: auto !important;
  border-collapse: collapse !important;

} */

/* 
.table {
  width: 100%;

  max-height: 72.5vh ;
  overflow-y: auto;
  display: block ;
  
} */
.table-wrapper {
  max-height: 72.5vh;
  overflow-y: auto;
}

/* .table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
} */



 .table thead {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #f8f9fa; 
} 




::-webkit-scrollbar {
  width: 0 !important;
}

/* .custom-table > thead,
.custom-table tbody tr {
  display: table !important;
  table-layout: fixed;
  width: 100%;
} */





 .table th,
.table td {
  padding: 12px !important;
  text-align: center !important;
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
}   




/*good*/
.table th {
  background-color: #f8f9fa !important;
  color: #212529 !important;
  font-weight: bold !important;
}

.table tbody tr:hover {
  background-color: #faf5f5 !important;
  cursor: pointer !important;
}

/* Responsive styles */

@media screen and (max-width: 768px) {
  /* .table {
    width: 100% !important;
    overflow-x: auto !important;
  } */
  .order_row1{
    margin: 0rem;
    padding: 0.1rem;
  }
}

@media screen and (max-width: 600px) {
  th:nth-child(2),
  td:nth-child(2),

  th:nth-child(5),
  td:nth-child(5) {
    display: none;
  }
}

