/* Calendar CSS */
.cal-details{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 2rem;
  animation: fadeIn 0.5s ease-in-out forwards;
}
.calendar {
  margin:2rem;
  
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(7, minmax(0, 1fr));
  gap: 10px;
  border-radius: 10px;
  overflow: hidden;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.cal-body{
  margin-top: 1rem;
  
}

.calendar-day {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  border: 1px solid transparent;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.calendar-day:hover {
  background-color: #f0f0f0;
}

.calendar-day.active {
  background-color: #007bff;
  color: #ffffff;
  border-color: #007bff;
}

.calendar-day.inactive {
  background-color: #f8f9fa;
  color: #6c757d;
}

.calendar-day.today {
  font-weight: bold;
}

.no-orders-found {
  background-color: #d9dfdd;
  color: black;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  margin-bottom: 20px;
  opacity: 0;
  animation: fadeInn 0.5s ease-in-out forwards;

}

@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}
@keyframes fadeInn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}
