.login{
   
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    margin-top:2rem;
    gap: 2rem;
    padding: 3rem;
    border: 1px solid blanchedalmond;
    border-radius: 4px;
    width: 28rem;
}
.inputs{
    display: grid;
    gap: 1rem;
}
input{
    border-radius: 5px solid black;
}

.btn{
    color: beige;
}
