
.column_1 {
  margin: auto;
}

.column_1 > .add_product {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  align-items: center;
  margin: 4.5rem 0;
  justify-content: center;
}
.card-img-top1{
  width: 80% !important;
  margin: 1rem auto !important;
}

.column_1 > .add_product > .card-link > .card {
  width: 18rem;
}

/* .column_1 > .add_product > .card-link > .card > img {
  width: 80%;
  margin: 1 auto;
} */

@media screen and (max-width: 700px) {
  .column_1 > .add_product {
    flex-direction: column;
  }
}
