.container-dash {
  display: flex;
  flex-direction: column; /* Change to column on small screens */
  margin: 0rem;
  padding: 0rem;
}

.col1-dash {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  background-color: rgb(238, 243, 243);
  padding: 1.4rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem; /* Adjust padding for small screens */
  height: 91.7vh;

}

.col1-dash a {
  padding-left: 0.4rem;
  text-decoration: none;
  color: black; /* Set link text color to black */
}

.icon-text-gap {
  margin-left: 10px;
}

.col2-dash {
  display: flex;
  flex-direction: column;
  padding: 3rem;

  gap: 4rem;
  max-height: 91.7vh;
  overflow-y: auto;
}

.card1-dash {
  width: 18rem;
  padding: 2rem;
  
  border-radius: 0.2rem;
 
  padding-right: 3rem;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  

}

.profile-image {
  width: 30px; /* Adjust as needed */
  height: 30px; /* Adjust as needed */
  border-radius: 50%; /* Makes the image round, adjust as needed */
  margin-right: 10px; /* Add space between image and text */
}

.profile {
  display: flex;
  flex-direction: column;
}
.card1-dash:hover{
  transform: translateX(-15px);
}
.card1-dash {
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.02);
  }
}


.col1-dash h5 {
  display: flex; /* To align image and text horizontally */
  align-items: center; /* To vertically center items */
}

.top {
  padding-top: 2rem;
  
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 4rem;
}

/* Media Queries */
@media screen and (min-width: 576px) {
  .container-dash {
    flex-direction: row;
    
  }
}


@media screen and (min-width: 768px) {
  .col1-dash {
    padding-right: 6rem;
  }
}

.chart{
  margin-top: 3.2rem;
}
